* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variables */
:root {
    --logo-font: 'Mango Vintage Personal Use Only', sans-serif;
    --text-font: 'Alice', sans-serif;
    --text-color: #06131B;
    --background-color: #EAEBEC;
}

/* selection */
::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* body background */
.background-color {
    background-color: var(--background-color);
}
.background-img {
    background:url(../images/backgroundImg.jpeg), rgba(255, 255, 255, 35%);
    background-size: cover;
    background-blend-mode: overlay;
}


/* custom element */
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 18px;
}
a:hover {
    color: #344b64;
    text-decoration: underline;
}
img {
    max-width: 100%;
}


/* nav style */
nav {
    background-color: var(--background-color);
    z-index: 100;
    width: 100%;
}
nav ul, nav h2 {
    flex: 1;
}
nav h2 {
    font-family: var(--logo-font);
    font-size: 30px;
}
nav li a, nav h2 {
    color: var(--text-color);
}
@media (max-width: 567px) {
    nav .none {
        display: none;
    }
}


/* background */
.background {
    position: relative;
    background-image: url(../images/florist.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 660px;
}
.background .head {
    position: absolute;
    color: var(--background-color);
    font-family: var(--logo-font);
    font-size: 60px;
    font-weight: bold;
    word-spacing: 9px;
    letter-spacing: 12px;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media (max-width: 567px) {
    .background {
        background-size: cover;
        background-attachment: scroll;
        max-height: 244px;
    }
    .background .head {
        left: 2%;
        font-size: 28px;
        word-spacing: 0;
        letter-spacing: 2px;
    }
}


/* products */
.products .row:not(:first-of-type){
    margin-top: 15px;
}
.products .image {
    overflow: hidden;
    box-shadow: 1px 1px 13px -5px #7f91a4;
    /* border: 1px solid #a6b0ba; */
}
.products .image img {
    width: 100%;
    height: 350px;
    transition: .7s ease;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
}
.products .box:hover .image img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.products .text h2 {
    font-family: var(--logo-font);
    letter-spacing: 3px;
    margin-bottom: 0;
}
@media (min-width: 991px) and (max-width: 1349px) {
    .products .text h2 {
        width: min-content;
        margin: auto;
    }
}
.products .text p {
    font-family: var(--text-font);
    font-size: 20px;
}
.products button {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    transition: .7s ease;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
}
.products .text button:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}


/* footer */
footer {
    background-color: #27405A;
}
footer h3 {
    text-transform: uppercase;
    font-family: var(--logo-font);
}
footer ul li {
    margin-top: 10px;
    padding-left: 5px;
}
footer ul li a {
    transition: .7s ease;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -ms-transition: .7s ease;
    -o-transition: .7s ease;
}
footer ul li a:hover {
    color: var(--background-color) !important;
    margin-left: 10px;
}


/* ///////////////////////////////////////////////////// */
/* register & login page */
.logo h2 {
    font-family: var(--logo-font);
    font-size: 35px;
    color: white;
}
.formbox h1 {
    font-family: var(--logo-font);
    color: white;
    letter-spacing: 5px;
}
.formbox .row {
    background-color: #344b64;
    font-family: var(--text-font);
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.formbox .name>div {
    flex: 1;
}
.formbox .name .last {
    margin-left: 5px;
}
.formbox .gender {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}
.formbox .btn {
    margin-top: 20px;
    padding: 10px 100px;
    background-color: white;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.formbox .btn:hover {
    background-color: var(--background-color);
}
.formbox p {
    color: var(--background-color);
    font-size: 18px;
    letter-spacing: 1px;
}
.formbox p a {
    text-decoration: underline;
}
.formbox p a:hover {
    color: var(--background-color);
}
/* error msg */
.message-box {
    display: none;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.message-box p {
    color: var(--text-color);
}
.message-box button {
    border: none;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 4px 8px;
}

/* animation */
.animation {
    animation: up 1s;
    -webkit-animation: up 1s;
}
@keyframes up {
    from {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
        -o-transform: translateY(50%);
}
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

/* add background image with overlay */
.backgroundimageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/backgroundImg.jpeg) no-repeat center center/cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(255, 254, 254,0.5);
    z-index: 1;
}

.Form {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    width: 60%;
    height:73%;
    background-color: white;
    margin: 50px 100px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contactForm {
    border:none;
    border-bottom: 2px solid #27405A;
    padding: 20px;
    margin: 20px 70px;
    width: 50%;
    font-size: 20px;
}
div h1{
    margin: 5px 70px;
}

.submit {
    background-color: #27405A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 70px;
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.child {
    width: 50%;
    background-color: #27405A;
    color: white;
    height: 70%;
    position:absolute;
    bottom: -50px;
    right: -400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 20px;
}
.child div{
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
.top div, .middle div, .bottom div{
    font-size: 20px; 
    text-indent: 20px;
    font-weight: normal;
}
.bottom a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    text-transform: none;
}
.bottom a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    text-transform: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.submit:hover {
    background-color: #27405A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 70px;
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div i{
    font-size: 30px;
    margin-right: 10px;
}
