* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* variables */
:root {
  --logo-font: "Mango Vintage Personal Use Only", sans-serif;
  --text-font: "Alice", sans-serif;
  --text-color: #06131b;
  --background-color: #eaebec;
}

/* selection */
::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* body background */
.background-color {
  background-color: var(--background-color);
}
.background-img {
  background: url(../images/backgroundImg.jpeg), rgba(255, 255, 255, 35%);
  background-size: cover;
  background-blend-mode: overlay;
}

/* custom element */
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 18px;
}
a:hover {
  color: #344b64;
  text-decoration: underline;
}
img {
  max-width: 100%;
}

/* nav style */
nav {
  background-color: var(--background-color);
  z-index: 100;
  width: 100%;
}
nav ul,
nav h2 {
  flex: 1;
}
nav h2 {
  font-family: var(--logo-font);
  font-size: 30px;
}
nav li a,
nav h2 {
  color: var(--text-color);
}
@media (max-width: 567px) {
  nav .none {
    display: none;
  }
}

/* background */
.background {
  position: relative;
  background-image: url(../images/florist.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 660px;
}
.background .head {
  position: absolute;
  color: var(--background-color);
  font-family: var(--logo-font);
  font-size: 60px;
  font-weight: bold;
  word-spacing: 9px;
  letter-spacing: 12px;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 567px) {
  .background {
    background-size: cover;
    background-attachment: scroll;
    max-height: 244px;
  }
  .background .head {
    left: 2%;
    font-size: 28px;
    word-spacing: 0;
    letter-spacing: 2px;
  }
}
/* footer */
footer {
  background-color: #27405a;
}
footer h3 {
  text-transform: uppercase;
  font-family: var(--logo-font);
}
footer ul li {
  margin-top: 10px;
  padding-left: 5px;
}
footer ul li a {
  transition: 0.7s ease;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -ms-transition: 0.7s ease;
  -o-transition: 0.7s ease;
}
footer ul li a:hover {
  color: var(--background-color) !important;
  margin-left: 10px;
}
